{% extends 'website/_layouts/base.html' %}

{% block title %}Lista de Funcionários{% endblock %}

{% load primeira_letra %}

{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-21 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Funcionários</h5>

                    {% if funcionarios|length > 0 %}
                    <p class="card-text">
                        Aqui está a lista de <code>Funcionários</code> cadastrados.
                    </p>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Tempo de Serviço</th>
                            <th>Remuneração</th>
                            <th>Ações</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for f in funcionarios %}
                        <tr>
                            <td>{{f.id}}</td>
                            <td>{{f.nome}}</td>
                            <td>{{f.sobrenome}}</td>
                            <td>{{f.tempo_de_serviço}}</td>
                            <td>{{f.remuneração}}</td>
                            <td>
                                <a href="{% url 'website:atualiza_funcionario' pk=f.id %}" class="btn btn-info">
                                    Atualizar
                                </a>
                                <a href="{% url 'website:deleta_funcionario' pk=f.id %}" class="btn btn-outline-danger">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="text-center mt-5 mb-5 jumbotron">
                        <h5>Nenhum <code>Funcionário</code> cadastrado ainda.</h5>
                    </div>
                    {% endif %}
                    <hr />
                    <div class="text-right">
                        <a class="btn btn-primary"
                           href="{% url 'website:cadastra_funcionario' %}">
                            Cadastrar Funcionário
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
